<footer class="footer">
  <div class="footer-list">
    <!-- <div class="footer-logo">
      <img alt="Angular" class="docs-footer-angular-logo" src="">
    </div> -->

    <!-- <div class="footer-links">
      <a class="" href="">Learn Angular</a>
    </div> -->

    
    <div class="sponsors">
      <a aria-label="Footer Sponsor Link" class="docs-button mat-button" md-button="" routerLink="/sponsors" routerLinkActive="active" aria-disabled="false" tabindex="0">
        <span class="mat-button-wrapper">
            <img class="footer-sponsor1" src="../assets/sotclogos/sponsors/Sponsors-DCASE_051917.png">
            <img class="footer-sponsor2" src="../assets/sotclogos/sponsors/Sponsors-Joyce_051917.png">
        </span>
        <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
    </div>
    <div class="footer-copyright">
      <p>Old Town School Of Folk Music ©2017</p>
    </div>
  </div>
</footer>