<md-card *ngFor="let mainevent of mainevents; index as j">
  <div class="event-container">
    <h2>{{mainevent.title}}</h2>
    <p [innerHTML]="mainevent.description">
    </p>
  </div>
  <md-card *ngFor="let event of mainevent.events; index as i;" class="{{event.genre}} mainevent{{j +1}}">
    <md-card-header>
      <div md-card-avatar class="event{{i +1}}image"></div>
      <md-card-title>{{event.title}}<br>{{event.lead}}<br><em>{{event.admission}}</em></md-card-title>
      <md-card-subtitle>{{event.location}}<br>
      {{event.date}} {{event.time}}</md-card-subtitle>
    </md-card-header>
    <img class="card-image" src="{{event.image}}">
    <md-card-content>
      <div [innerHTML]="event.description">
      </div>
      <p *ngIf="event.link">
        <a href="{{event.link}}" target="_blank">{{event.link}}</a>
      </p>
      <md-tab-group dynamicHeight *ngIf="event.tabs">
        <md-tab *ngFor="let tab of event.tabs">
          <ng-template md-tab-label class="tab-label">
            {{tab.tabname}}
          </ng-template>
          <h4>{{tab.title}}</h4>
          <img *ngIf="tab.image" class="card-image" src="{{tab.image}}">
          <div [innerHTML]="tab.content">
            
          </div>
        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</md-card>

<!-- new above -->
<!-- <md-card>
  <div class="event-container">
    <h2>House Music Conference</h2>
    <p>
      The Chicago Department of Cultural Affairs and Special Events will host a House Music Conference on Thursday, May 25 and Friday, May 26 at the Chicago Cultural Center for musicians, DJs and industry participants. Admission to the conference is free, and registration is not required. Full schedule available <a href="https://www.cityofchicago.org/city/en/depts/dca/supp_info/house_music.html" target="_blank">here</a> 
    </p>
  </div>
  <md-card class="genre1-full">
    <md-card-header>
      <div md-card-avatar class="event1image"></div>
      <md-card-title>Panel Discussion: Cultivating The Next Generation Of Practitioners</md-card-title>
      <md-card-subtitle>Chicago Cultural Center, Claudia Cassidy Theater (2nd Floor North)<br>
      Thursday, May 25 6:00PM</md-card-subtitle>
    </md-card-header>
    <img class="card-image" src="../assets/mdm.jpg">
    <md-card-content>
      <p>
        This panel, moderated by Lauren Lowery, will look back at the history of the scene, ongoing gender inequality, evolving technologies, and industry trends to inform the possible future of House Music as a cultural practice. How are new generations accessing historical knowledge? What are the pioneers of the past, as well as present House Music successors doing to support and cultivate a new generation of practitioner today? It is presented in collaboration with Old Town School of Folk Music’s Soundtrack of the City. 
      </p>
      <p>
        View the <a href="https://www.cityofchicago.org/city/en/depts/dca/supp_info/house_music.html" target="_blank">full schedule</a> of panels and workshops for House Music Conference on Thursday, May 25 and Friday, May 26
      </p>
    </md-card-content>
  </md-card>
</md-card>


<md-card>
  <div class="event-container">
    <h2>Chicago House Legacy Project</h2>
    <p>
      Throughout the day, DJs and live performances will showcase the various sounds and styles of house music, the musical form born in Chicago that has gone on to revolutionize dance music internationally. 
    </p>
  </div>
  <md-card class="genre1">
    <md-card-header>
      <div md-card-avatar class="event2image"></div>
      <md-card-title>House Dance Workshop with Boogie McClarin</md-card-title>
      <md-card-subtitle>Millennium Park - North Chase Promenade Tent<br>
      Saturday, May 27 2pm - 2:45pm </md-card-subtitle>
    </md-card-header>
    <img class="card-image" src="http://placehold.it/700x200/000000/ffffff?text=HOUSE DANCE">
    <md-card-content>
      <p>
        Boogie McClarin guides an exploration of movement history, concepts, approaches and social dance practices that accompany the global phenomenon born of Chicago's rich heritage - House Music and Dance Culture.
      </p>
    </md-card-content>
  </md-card>
  <md-card class="genre1">
    <md-card-header>
      <div md-card-avatar class="event2image"></div>
      <md-card-title>Chicago House Legacy Project</md-card-title>
      <md-card-subtitle>Millennium Park - Jay Pritzker Pavilion<br>
      Saturday, May 27 6:45pm - 8pm</md-card-subtitle>
    </md-card-header>
    <img class="card-image" src="../../assets/Jerry C. King2.jpg">
    <md-card-content>
      <md-tab-group dynamicHeight>
        <md-tab>
          <ng-template md-tab-label>
            Description
          </ng-template>
          <h3>Chicago House Legacy Project (featuring special guests) - With Introduction from Old Town School’s Kim Davis</h3>
          <p>
            Chicago House Legacy Project is a DCASE commissioned band led by musical director Jerry C. King. The project performs classic Chicago House Music hits live using new arrangements and often including the original singers and musicians of those seminal songs. Apart from the classics, the project also looks to develop new emerging talent and write new music to release and debut live at the Chicago House Party event.  
          </p>
          <p>
            The ensemble consists of: Jerry C. King (Musical Director/Keys), Steve “Miggedy” Maestro (DJ/ 106.3/Assistant Musical Director), Day Rock (Bass), Chuck Lacy (drums), Duane "Rude" Jones (guitar), Gus Lacy (keys), Phillip Glover (2nd drum), Sam Eli Glover (2nd bass).
          </p>
          <p>
            Featured artists lineup: Billy Monroe, Faith Howard with dancers Faith Rebecca &amp; Sarah Lloyd, Jameisha Trice, Andrea Love, Dawn Williams, Gus Lacy, Carla Prather, Lorenzo Owens, Kennedy Simone, with special guest performance by Curtis Mcclain and Ivelisse Diaz.
          </p>
          <p>
            Background Vocalists include: Melody Cowan, K'mar, Bernetta Donalson, and Robert Townsend, with special background vocalists modifier Tommy Thumbs "E.S.P."
          </p>
          <p>
            Hosted by: Dana Devine, Kim Jay, and Lady Laronda Maestro
          </p>
          <p>
            <a href="https://www.cityofchicago.org/city/en/depts/dca/supp_info/hlp.html" target="_blank">Full schedule &amp; lineup</a> 
          </p>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            More Info
          </ng-template>
          <span class="lead">Lauren Lowery</span>
          <span class="lead">Co-Founder and Chief Archivist, Dance Music Archive</span>
          <span class="lead"><a href="" target="_blank">housemusicarchive.org</a></span>
          <iframe style="width: 100%; height: 250px;" src="https://docs.google.com/a/oldtownschool.org/document/d/1otlu-PleyfbpSU28Fp0NyXWinJDLf95wOvem82-PpWU/pub?embedded=true"></iframe>
        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</md-card> -->



