<md-card class="genre1">
  <md-card-header>
    <div md-card-avatar class="event1image"></div>
    <md-card-title>House Music Conference</md-card-title>
    <md-card-subtitle>Chicago Cultural Center, Claudia Cassidy Theater (2nd Floor North)<br>
    Thursday, May 25 6:00PM</md-card-subtitle>
  </md-card-header>
  <img class="card-image" md-card-image src="../assets/mdm.jpg">
  <md-card-content>
    <p>
      The Chicago Department of Cultural Affairs and Special Events will host a House Music Conference on Thursday, May 25 and Friday, May 26 at the Chicago Cultural Center for musicians, DJs and industry participants. Admission to the conference is free, and registration is not required. Full schedule available <a href="https://www.cityofchicago.org/city/en/depts/dca/supp_info/house_music.html" target="_blank">here</a> 
    </p>
      
    <h3>Panel Discussion: Cultivating The Next Generation Of Practitioners</h3>

    <p>
      This panel, moderated by Lauren Lowery, will look back at the history of the scene, ongoing gender inequality, evolving technologies, and industry trends to inform the possible future of House Music as a cultural practice. How are new generations accessing historical knowledge? What are the pioneers of the past, as well as present House Music successors doing to support and cultivate a new generation of practitioner today? It is presented in collaboration with Old Town School of Folk Music’s Soundtrack of the City. 
    </p>
    <p>
      View the <a href="https://www.cityofchicago.org/city/en/depts/dca/supp_info/house_music.html" target="_blank">full schedule</a> of panels and workshops for House Music Conference on Thursday, May 25 and Friday, May 26
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
<md-card class="genre1">
  <md-card-header>
    <div md-card-avatar class="event2image"></div>
    <md-card-title>Chicago House Legacy Project</md-card-title>
    <md-card-subtitle>Millennium Park - North Chase Promenade Tent<br>
    Saturday, May 27 2pm - 2:45pm </md-card-subtitle>
  </md-card-header>
  <img class="card-image" md-card-image src="http://placehold.it/500x200">
  <md-card-content>
    <p>
      Throughout the day, DJs and live performances will showcase the various sounds and styles of house music, the musical form born in Chicago that has gone on to revolutionize dance music internationally. 
    </p>
    <h3>House Dance Workshop with Boogie McClarin</h3>
    <p>
      Boogie McClarin guides an exploration of movement history, concepts, approaches and social dance practices that accompany the global phenomenon born of Chicago's rich heritage - House Music and Dance Culture.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>