
<md-card class="genre2">
  <md-card-header>
    <div md-card-avatar class="event1image"></div>
    <md-card-title>In partnership with Night Out In The Parks, presented by the Chicago Park District <em>Free &amp; open to the public</em></md-card-title>
    <md-card-subtitle>Ellis Park (535 E. 35th St.)<br>
    Thursday, June 8 6-8pm</md-card-subtitle>
  </md-card-header>
  <img class="card-image" src="http://placehold.it/500x200">
  <md-card-content>
    <p>
      Blues'n In Bronzeville brings authentic blues right back to where it all began. Blocks from Muddy Waters' home and Honorary Sam Cooke Way, this festival will feature performances from old school greats and some new voices on the scene.  
    </p>
    <md-tab-group dynamicHeight>
      <md-tab>
        <ng-template md-tab-label class="tab-label">
          Wayne Baker Brooks
        </ng-template>
        <h4>Wayne Baker Brooks</h4>
        <p>
          Wayne Baker Brooks is considered one of today’s top guitarists whose signature style combines powerful vocals with liquid fire guitar playing that honors his rich blues heritage yet effortlessly expands the boundaries of the genre.
        </p>
        <p>
          Born and raised in Chicago amongst the most prolific blues legends and blues masters in the world, Wayne Baker Brooks’ blues roots may run deeper and wider than the Great Lakes themselves.
        </p>
        <p>
          Chicago Blues laid the foundation to Wayne's innovative style. Growing up, Brooks was a regular visitor to such historic places as Chess Studios, Checkerboard Lounge, Wise Fools Pub, and many other blues landmarks at which he witnessed many live performances by blues masters like Buddy Guy, Jr. Wells, Luther Allison, KoKo Taylor, the great Muddy Waters, and his father. The youngest son of blues master Lonnie Brooks - Wayne Brooks was literally born into the blues!
        </p>
      </md-tab>
      <md-tab dynamicHeight>
        <ng-template md-tab-label class="tab-label">
          Doktu Thute Muuzic
        </ng-template>
        <h4>Doktu Thute Muuzic (formerly known as Roy Hightower)</h4>
        <p>
          Doktu Rhute Muuzic (formerly Roy Hytower) has enjoyed a full career from his late teens to the present day spanning over fifty years. His first experiences were singing around Mobile, Alabama. In 1962 he came to Chicago, replacing Mighty Joe Young as rhythm guitarist for Otis Rush. Often adopting a soul-slanted sound, Hytower cut a handful of 45rpm singles in the 1960s and '70s for several local labels such as Avin, Expo, Brainstorm, and Jiffy. In recent years Roy Hytower has self-released a couple of CDs under his new moniker, Doktu Rhute Muuzic.
        </p>
      </md-tab>
      <md-tab dynamicHeight>
        <ng-template md-tab-label class="tab-label">
          Shoji Naito
        </ng-template>
        <h4>Shoji Naito</h4>
        <p>
          “Shoji Naito is an amazing musician who authoritatively knows the delicate nuances of the Chicago blues on both the harmonica and guitar. He is also a kind and generous person, and that comes across on the bandstand. His sterling backing work for his longtime employer, the legendary Eddy Clearwater, stands testament to his professional quality. Shoji can deliver a powerful Little Walter style instrumental on harmonica or flawlessly back other harmonica players on guitar, as he frequently does with Morry Sochat, or any number of great harmonica players at Joe Filisko’s advanced harmonica class at the Old Town School Of Folk Music. Whatever musical situation Shoji finds himself in, he will always rise to the occasion.” - Bob Corritore
        </p>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>





