<md-card class="placeholder">
	<img alt="Soundtrack of the City" src="../../../assets/SOTC_HomepagePlaceholder_051717.png" />
	<md-card-content>
		<h3>MAY 15 - AUGUST 1, 2017</h3>
	</md-card-content>
</md-card>
<div class="genre-list">
  <md-card *ngFor="let genre of genres; index as i;" class="genre {{genre.name}}" routerLink="{{genre.link}}" routerLinkActive="active">
  	<img class="card-image" src="{{genre.image}}">
    <h4>{{genre.name}}</h4>
  	<span>{{genre.description}}</span>
  </md-card>
</div>
