<nav class="navbar navbar-fixed">
	
	<!-- <img class="logo" src="../assets/sotclogos/SOTC_logomark_color.png" /> -->

	<a aria-label="Menu Item 1" class="docs-button mat-button" md-button="" [routerLink]="['/']" routerLinkActive="active" aria-disabled="false" tabindex="0">
		<span class="mat-button-wrapper">
	    	<span>SOUNDTRACK OF THE CITY</span>
	 	</span>
		<div class="mat-button-ripple mat-ripple" md-ripple=""></div>
		<div class="mat-button-focus-overlay"></div>
	</a>
	<a aria-label="Menu Item 2" class="docs-button mat-button" md-button="" [routerLink]="['about']" routerLinkActive="active" aria-disabled="false" tabindex="0">
		<span class="mat-button-wrapper">
	    	<span>ABOUT</span>
	 	</span>
		<div class="mat-button-ripple mat-ripple" md-ripple=""></div>
		<div class="mat-button-focus-overlay"></div>
	</a>
	<!-- <a aria-label="Menu Item 3" class="docs-button mat-button" md-button="" routerLink="/contact" routerLinkActive="active" aria-disabled="false" tabindex="0">
		<span class="mat-button-wrapper">
	    	<span>CONTACT</span>
	 	</span>
		<div class="mat-button-ripple mat-ripple" md-ripple=""></div>
		<div class="mat-button-focus-overlay"></div>
	</a> -->
</nav>
