.navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 8px 16px;
	height: 38px;
}
.navbar > .mat-button:last-child {
    margin-left: auto;
}
.mat-button {
	padding: 0 2%;
	min-width: 60px;
}
:host .navbar {
	background: #00bcd4;
}
:host {
  color: #fff;
  position: relative;
  z-index: 10;
}
.logo {
	height: 60px;
	margin: 0px 5px 5px 0px;
}