<div class="main-content">
  	<div class="app-content">
	    <md-card>
	    	<h3>
			  Contact
			</h3>
			<div class="contact-info">
				4544 North Lincoln Avenue, Chicago, IL 60625<br>
				<a href="tel:+1-773-728-6000">(773) 728-6000</a><br>
				Mon – Thurs: 9AM - 10PM | Fri – Sun: 9AM - 10PM
			</div>
			<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" >
			  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
			</agm-map>
	    </md-card>
		
	    <!-- <router-outlet>
	    </router-outlet> -->
    </div>
</div>

<app-footer>
	Loading...
</app-footer>