<md-sidenav-container>
	<div class="mat-sidenav-backdrop"></div>
	<md-sidenav #sidenav class="app-sidenav mat-sidenav">
		<nav>
			<ul>
				<li><a href="genre1" routerLink="genre1" routerLinkActive="active" (click)="sidenav.close()">House</a></li>
				<li><a href="/genre2" routerLink="genre2" routerLinkActive="active" (click)="sidenav.close()">Blues</a></li>
				<li><a href="/genre3" routerLink="genre3" routerLinkActive="active" (click)="sidenav.close()">Jazz</a></li>
				<li><a href="/genre4" routerLink="genre4" routerLinkActive="active" (click)="sidenav.close()">Folk</a></li>
				<li><a href="/genre5" routerLink="genre5" routerLinkActive="active" (click)="sidenav.close()">Gospel</a></li>
				<li><a href="/genre6" routerLink="genre6" routerLinkActive="active" (click)="sidenav.close()">Duranguense</a></li>
				<li><a href="/genre6" routerLink="genre7" routerLinkActive="active" (click)="sidenav.close()">Country</a></li>
			</ul>
		</nav>
	</md-sidenav>
	<nav class="mat-elevation-z6">
		<md-toolbar color="primary">
		    <button class="sidenav-toggle mat-button" md-button="" (click)="sidenav.open()">
		    	<span class="mat-button-wrapper">
			    	<md-icon role="img" class="material-icons mat-icon" aria-label="menu">menu</md-icon>
			  	</span>
				<div class="mat-button-ripple mat-ripple" md-ripple=""></div>
				<div class="mat-button-focus-overlay"></div>
			</button>
		    {{ RoutesTitles }}
		    <span class="app-toolbar-filler"></span>

			<md-menu #appMenu="mdMenu" [overlapTrigger]="false" >
				<button md-menu-item> More stuff </button>
				<button md-menu-item> More stuff </button>
			</md-menu>

			<button md-icon-button [mdMenuTriggerFor]="appMenu" >
				<md-icon>more_vert</md-icon>
			</button>
		</md-toolbar>
	</nav>
	<div class="main-content">
	  	<div class="app-content">
		    <!-- <md-card>
		    	<md-spinner></md-spinner>
		    	<md-list class="app-list">
		    	<md-list-item *ngFor="let food of foods">
		        	<h3 md-line>{{food.name}}</h3>
		        	<p md-line class="demo-secondary-text">{{food.rating}}</p>
		    	</md-list-item>
		    	</md-list> 
		    </md-card> -->
		    
	    	<router-outlet>
	    	</router-outlet>
	    </div>
    </div>
    <app-footer>
    	Loading...
    </app-footer>
</md-sidenav-container>