@import '~@angular/material/theming';
// @import 'sass-material-colors-classes';
@include mat-core();

// Customizations go here, for instance:
$app-primary: mat-palette($mat-light-blue, 800);
$app-accent:  mat-palette($mat-deep-orange, A400);
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

.mat-tab-label {
	font-size: 10px;
	min-width: 100px !important;
}