

<div class="main-content">
  	<div class="app-content">
	    <md-card>
	    	<h3>
			  Sponsors
			</h3>
			<p>
				<em>Soundtrack Of The City</em> is funded by the Chicago Department of Cultural Affairs and Special Events IncentOvate grants. Additional funding provided by Joyce Foundation Spotlight Grants.
			</p>
			<div class="sponsors">
				<img class="sponsor1" src="../assets/sotclogos/sponsors/Sponsors-DCASE_051917.png">
            	<img class="sponsor2" src="../assets/sotclogos/sponsors/Sponsors-Joyce_051917.png">
            </div>
	    </md-card>

    </div>
</div>

<app-footer>
	Loading...
</app-footer>