/* sticky footer */
.main-content {
	min-height: calc(100vh - 116px);
}
@media (max-width: 600px){
    .main-content {
        min-height: calc(100vh - 108px);
    }
}
.sebm-google-map-container {
	height: 300px;
}